/* reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* root variable*/
:root {
  --color-primary: #ff5722;
  --color-primary-light: #ff7a50;
  --color-secondary-light: #fff6f2;
  --color-secondary-dark: #ffa589;
  --color-navbar: #f8f8f8;
  --color-headings: #000;
  --color-body: #333333;
  --color-white: #fff;
}
html {
  font-size: 62.5%;
}
body {
  color: var(--color-body);
  font-size: 1.4rem;
  line-height: 1.7;
}
h1,
h2,
h3 {
  color: var(--color-headings);
  font-weight: 700;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.5rem;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
}
.btn {
  outline: 0;
  border: 0;
  padding: 2rem 2.5rem;
  border-radius: 12px;
  margin: 1rem 0;
  text-align: center;
  white-space: nowrap;
  font-size: 1.4rem;
}
.btn--block {
  width: 100%;
  font-size: 1.6rem;
}
.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.btn--secondary {
  background-color: var(--color-secondary-dark);
  color: var(--color-white);
}
@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.6rem;
  }
  .btn--block {
    font-size: 2rem;
  }
}

.badge {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--color-white);
  color: var(--color-primary);
  border: 3px solid var(--color-primary);
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.badge--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.badge--secondary {
  color: var(--color-secondary-dark);
  background-color: var(--color-white);
}
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.4rem;
  }
}
.list {
  list-style: none;
  font-size: 1.6rem;
}
.list--inline .list__item {
  display: inline-block;
  margin-left: 2rem;
}
.list--tick .list__item {
  background: url(/asset/image/Tick-Square.svg) no-repeat right center;
  padding-right: 3rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}
.block-plan {
  display: grid;
  gap: 7rem 5rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 290px));
}
.plan {
  font-size: 1.8rem;
  transition: all 0.3s ease;
  margin-top: 3rem;
}
.card {
  background-color: var(--color-secondary-light);
  border-radius: 30px;
  overflow: hidden;
}
.card__header,
.card__body {
  padding: 3rem 2.5rem;
}
.card__header {
  color: #fff;
}
.plan .btn--block {
  font-size: 1.6rem;
  margin-top: 10rem;
}
.card__primary .card__header {
  background-color: var(--color-primary-light);
}
.card__secondary .card__header {
  background-color: var(--color-secondary-dark);
}
.plan__introduction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.plan__price {
  font-size: 3rem;
  margin-bottom: 3rem;
}
.plan__billing-cycle {
  font-size: 1.4rem;
}
.plan__description {
  display: block;
}
.plan--popular {
  transform: scale(1.05);
}
.plan--popular:hover {
  transform: scale(1.1);
}
.plan:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 1024px) {
  .plan .btn--block {
    font-size: 1.8rem;
  }
}
.container {
  max-width: 1010px;
  margin: 0 auto;
}
.feature {
  display: flex;
  flex-direction: column;
  padding: 3rem 0rem;
}
.feature .btn {
  padding: 1.3rem 3rem;
}
.feature__title {
  margin: 0 0 2rem;
  font-size: 2.2rem;
}
.feature__text {
  margin-bottom: 3rem;
  text-align: justify;
}
.feature__image > img {
  width: 100%;
  height: auto;
  padding: 0 4rem 0 0;
}
.feature__image {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .feature {
    flex-direction: row;
    padding: 7.5rem 0px;
  }
  .feature__image {
    width: 50%;
    order: 2;
  }
  .feature__detail {
    width: 50%;
    order: 1;
  }
  .reverse > .feature__image {
    order: 1;
  }
  .reverse > .feature__detail {
    order: 2;
  }
}
@media screen and (min-width: 1024px) {
  .feature {
    padding: 7.5rem 0px;
  }
  .feature__title {
    font-size: 3.5rem;
  }
}
.contact-us {
  display: grid;
}
.contact-us__form {
  height: auto;
}
.contact-us__map {
  display: none;
}
.contact-us__icons {
  height: auto;
}
.contact-us__social {
  height: 100px;
}
@media screen and (min-width: 1024px) {
  .contact-us {
    grid-template-columns: 70fr 30fr;
    grid-template-areas: "address form" "map form" "icons form";
    grid-gap: 10px;
  }
  .contact-us__form {
    grid-area: form;
  }
  .contact-us__map {
    display: block;
    grid-area: map;
  }
  .contact-us__icons {
    grid-area: address;
  }
  .contact-us__social {
    grid-area: icons;
  }
}
.icon {
  width: 40px;
  height: 40px;
}
.icon--small {
  width: 32px;
  height: 32px;
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 64px;
  height: 64px;
  border-radius: 100%;
}
.contact-us__icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.contact-us__icons .icon-holder {
  display: flex;
  align-items: center;
  margin: 1rem 1rem;
}
.icon-holder__label {
  margin-left: 2rem;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .contact-us__icons .icon-holder {
    display: flex;
    flex-direction: column-reverse;
    flex-basis: 33%;
    align-items: center;
    align-self: flex-start;
    text-align: center;
    margin-bottom: 2rem;
  }
  .contact-us__icons {
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.4rem;
  }
  .icon-holder__label {
    width: 100%;
    margin-top: 1rem;
  }
}

.contact-us__social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-us__social .icon-container {
  margin: 0.4rem;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .contact-us__social {
    justify-content: end;
  }
  .contact-us__social .icon-container {
    margin-left: 2rem;
  }
}
.contact-us__map img {
  width: 100%;
}

.form-wrapper {
  height: 100%;
  border: 1px solid #ccc;
  margin: 4rem 1rem 1rem;
  padding: 5.2rem;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
}
.form-wrapper h3 {
  text-align: center;
  margin-bottom: 5.3rem;
}
.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}
input,
textarea {
  display: block;
  border: 0;
  outline: 0;
}
textarea {
  resize: none;
}
.form-wrapper input,
.form-wrapper textarea {
  border-radius: 39px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 1rem 2rem;
  font-family: Vazir;
  margin-bottom: 1.5rem;
}
.form-wrapper textarea {
  border-radius: 10px;
}
.form-wrapper button {
  cursor: pointer;
}
::placeholder {
  font-size: 1.1rem;
  color: #333333;
  font-family: Vazir;
}
.form-wrapper input:focus,
.form-wrapper textarea:focus {
  border: 1px solid var(--color-primary);
}
@media screen and (min-width: 1024px) {
  .form-wrapper {
    margin: 1rem;
  }
}
.main-footer {
  min-height: 200px;
  background-color: #000;
  color: var(--color-white);
  /* display: flex; */
  padding: 3rem 1.5rem;
  line-height: 3rem;
}
.main-footer .footer {
  display: flex;
  flex-direction: column;
}
.footer__item h3 {
  color: var(--color-white);
  font-size: 1.2rem;
}
.footer__item {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
}
.footer__item h6 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.footer__item a {
  text-decoration: none;
  color: var(--color-white);
}

.copy-right-mobile {
  display: block;
  color: #acacac;
}
.footer__item.enamad {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.footer__enamad {
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 1rem 0rem;
  max-width: 86px;
}
.footer__enamad img {
  width: 100%;
}
.copy-right-desktop {
  display: none;
  color: #acacac;
  font-size: 1.2rem;
}
.footer__social {
  display: flex;
  flex-direction: column;
}
.social__header {
  color: var(--color-white);
  display: none;
  font-size: 1.4rem;
}
.social__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .main-footer {
    padding: 0;
  }
  .main-footer .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5% 10%;
  }
  .footer__item.logo {
    width: 15%;
  }
  .footer__item {
    margin: 0 0 1rem 3rem;
  }
  .copy-right-mobile {
    display: none;
  }
  .copy-right-desktop {
    display: block;
    font-size: 1.4rem;
  }
  .footer__item.enamad {
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 120px;
  }
  .footer__item a {
    font-size: 1.4rem;
  }
  .footer__item h6 {
    font-size: 1.8rem;
  }
  .footer__item h3 {
    font-size: 1.2rem;
  }
  .social__links {
    width: 250px;
    flex-direction: row;
    justify-content: space-between;
  }
  .social__header {
    display: block;
  }
}
/* NAVBAR */
.main-header {
  background-color: var(--color-navbar);
  padding: 0rem 10%;
  align-items: center;
  border-bottom: 1px solid #ddd;
  line-height: 30px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 60px;
}
.nav__list {
  background-color: var(--color-navbar);
  width: 100%;
  position: fixed;
  top: 61px;
  left: 0;
  display: flex;
  flex-direction: column-reverse;
  font-size: 1.4rem;
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease-out;
  opacity: 0;
}
.nav.nav__expanded .nav__list {
  max-height: 200px;
  overflow: visible;
  z-index: 9;
  opacity: 1;
}
.nav > .logo {
  background-color: var(--color-navbar);
  height: 60px;
  display: flex;
  align-items: center;
  z-index: 10;
}
.nav__item > a {
  text-decoration: none;
  color: #545454;
  display: block;
  padding: 1rem 1.5rem;
}
.nav__item > a:hover {
  color: var(--color-primary);
}
.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 26px;
}
.hamburger-menu span {
  background-color: #101010;
  padding: 0.15rem 1.3rem;
  border-radius: 4px;
  transition: all 0.4s ease-out;
}
.nav__list .btn {
  border-radius: 8px;
  padding: 0.7rem 4rem;
  top: 7px;
  display: none;
}
.nav.nav__expanded .bar-two {
  transform: translateX(-110px);
}
.nav.nav__expanded .bar-one {
  transform: rotate(-45deg) translate(-4.5px, 7px);
}
.nav.nav__expanded .bar-three {
  transform: rotate(45deg) translate(-4.5px, -7px);
}
@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    align-items: center;
    width: auto;
    position: static;
    overflow: visible;
    opacity: 1;
    background-color: var(--color-navbar);
  }
  .nav__item > a {
    padding: 1rem 0.5rem;
  }
  .nav__item {
    margin-left: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .nav__list .btn {
    display: block;
  }
}
/* Hero section */
.hero-section {
  width: 100%;
  height: 478px;
  position: relative;
  top: 61px;
}
.hero-section .banner-img {
  width: 100%;
  height: 478px;
  object-fit: cover;
}
.hero-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 478px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-wrapper h1 {
  color: var(--color-white);
  font-size: 2.5rem;
}
.hero-wrapper h2 {
  color: var(--color-white);
  font-size: 1.6rem;
  margin-bottom: 3rem;
}
.intro-btn {
  margin: 50px 0;
  width: 270px;
  padding: 16px;
  background-image: linear-gradient(
    51deg,
    rgba(23, 26, 60, 0.7) 5%,
    rgba(23, 26, 60, 0.3) 95%
  );
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.intro-wrapper {
  display: flex;
  flex-direction: column;
}

.btn__passenger {
  background-color: var(--color-white);
  color: var(--color-body);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  height: 56px;
  padding: 14px;
  cursor: pointer;
}
.btn__passenger span {
  display: flex;
  align-items: center;
  font-size: 1.9rem;
}
.btn__passenger p {
  margin: 0 auto;
}
.btn--driver {
  background-color: rgba(23, 26, 60, 0.5);
  color: var(--color-white);
  border: 2px solid var(--color-white);
}
.banner-phone {
  display: none;
  position: absolute;
  left: 10%;
  bottom: -50%;
  width: 420px;
  height: auto;
}
@media screen and (min-width: 768px) {
  .hero-wrapper {
    justify-content: flex-start;
  }
  .intro-btn {
    margin: 50px 10% 50px 0;
    width: 528px;
    padding: 25px;
    align-self: flex-end;
  }
  .intro-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .intro-wrapper a {
    font-size: 1.6rem;
  }
  .hero-wrapper h1 {
    font-size: 5rem;
  }
  .hero-wrapper h2 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .banner-phone {
    display: block;
  }
}
.services {
  display: flex;
  flex-direction: column;
}
.services__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.services__tabs {
  display: flex;
  justify-content: space-between;
  overflow: scroll;
  padding: 0.9rem 0;
}
.services__tabs .tab > p {
  margin-top: 1.5rem;
  font-size: 1.2rem;
}
.services__tabs img {
  max-width: 85px;
}
.services__tabs a {
  text-decoration: none;
  display: block;
  color: var(--color-body);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100px;
}
.services__tabs .tab {
  opacity: 0.5;
  transition: all 0.4s ease;
}
.services__tabs .tab:hover {
  opacity: 1;
}
.services .feature__title {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
}
.services .feature__image {
  display: none;
  /* width: 50%; */
  order: 2;
}
.services .feature {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #7e7e7e;
}
.services .tab-content {
  margin: 2rem;
  display: flex;
}

@media screen and (min-width: 768px) {
  .services .feature__image {
    display: block;
    width: 50%;
  }
  .services .feature__image img {
    width: 100%;
  }
  .services .feature__detail {
    width: 50%;
    order: 1;
  }
  .services .feature__title {
    font-size: 2.8rem;
    font-weight: 400;
  }
  .feature .feature__text {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1024px) {
  .services__tabs a > p {
    margin-top: 1rem;
    font-size: 1.4rem;
  }
  .services__tabs {
    width: 100%;
    overflow: auto;
  }
}
.services .tab-content {
  display: none;
}
.tab-content.active {
  display: flex;
}
.block {
  padding: 6rem 2rem;
}
.block-heading {
  margin-top: 8rem;
}
